/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

/* Variables */
:root {
    --gold: #cba851;
    --white: #ffffff;
    --gray: #f0f0f0;
    --gray-darker: #e1e1e1;
    --background: #0f0f0f;
    --green: #2c8f43;
    --greenish-gray:#888;
    --ohjelma-bg: #010101;
    --etiketti-bg: #212121;
    --tarjoukset-bg: #2d2d2d;
    --sillis-bg: #ffca00;
    --sillis-header: #ff0f2e;

    --section-padding: 5rem 0;
}

/* ------------------------------------------------------------------ */
/* General Styles
/* ------------------------------------------------------------------ */

body {
    background: var(--background);
}

/* ------------------------------------------------------------------ */
/* Header Styles
/* ------------------------------------------------------------------ */


header {
    position: relative;
    height: max-content;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

/* vertically center banner section */
header:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
    height: 100%;
}

header .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
}

header .banner-text h1 {
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
}

header .banner-text h2 {
    padding-top: 2rem;
    margin: 0 auto;
    width: 75%;
    text-transform: none;
    font-family: "librebaskerville-regular", serif;
}

/* scrolldown link */
header .scrolldown{
    position: relative;
    margin: 2rem 0;
}

header .scrolldown a {
    color: var(--white);
    font-size: 4rem;
}

header .scrolldown a:hover {
    color: var(--green);
}

#etiketti, #ohjelma, #tietoa, #uutiset, #sillis, #ilmo, #sponsors, #tarjoukset{
    height: max-content;
    padding: var(--section-padding);
    overflow: hidden;
}

#etiketti p, #ohjelma p, #tietoa p, #uutiset p, #sillis p, #tarjoukset p {
    text-align: justify;
}


/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
#ilmo-banner-background {
    font: 12px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: transparent !important;
    background-color: var(--etiketti-bg) !important;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    height: 30px;
    transition: box-shadow .3s ease-in-out;

}

#ilmo-banner-background .laskuri-amount{
    color: transparent !important;
}

#ilmo-banner {
    font: 12px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    z-index: 150;
    width: 100%;
    height: 30px;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gold);
    top: 0;
    text-underline-offset: 3px;
    transition: color .3s ease-in-out;
}

#ilmo-banner .laskuri-amount{
    color: inherit;
}

#ilmo-banner-background, #ilmo-banner{
    text-decoration: underline;
}

#ilmo-banner:hover{
    text-decoration: underline;
    color: var(--white) !important;
}

#ilmo-banner:hover + #ilmo-banner-background{
    box-shadow: inset 100vw 0 0 0 var(--gold);
}

#ilmo-banner-background i, #ilmo-banner i{
    font-size: 18px;
    padding-left: 5px;
}

#ilmo-banner .mini-laskuri{
    display: flex;
    flex-direction: row;
}

#ilmo-banner .mini-laskuri .mini-laskuri-item{
    padding: 0 5px;
}

@media only screen and (max-width: 767px) {
    #ilmo-banner-background {
        font: 14px "opensans-bold", sans-serif;
        color: var(--gold);
        padding: 0 78px;
        height: 48px;
    }
    #ilmo-banner {
        font: 14px "opensans-bold", sans-serif;
        width: calc(100% - 78px * 2);
        color: var(--gold);
        margin: 0 78px;
        height: 48px;
    }
    #nav-wrap {
        cursor: pointer;
    }
}

#nav-wrap {
    font: 12px "opensans-bold", sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 30px;
    height: 40px;
}

#nav-wrap .fa-home{
    font-size: 18px;
}

.opaque {
    background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
    display: none;
}

ul#nav {
    min-height: 4rem;
    width: auto;

    /* center align the menu */
    text-align: center;
}

ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

/* Links */
ul#nav li a {
    display: inline-block;
    padding: 8px 13px;
    text-decoration: none;
    text-align: left;
}

ul#nav li.current a {
    color: var(--gold);
    border-bottom: 3px solid var(--gold);
}

/* ------------------------------------------------------------------ */
/* Tietoa
/* ------------------------------------------------------------------ */

#tietoa {
    background: url(../images/valot_taustalla.jpg);
    background-size: cover;
}

#tietoa p {
    color: var(--gray);
}

#tietoa .table-cell {
    display: table-cell;
    float: none;
}

#tietoa .asteriskilogo-container {
    position: relative;
}

#tietoa .asteriskilogo {
    width: 100%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 5rem 0 0;
}

/* ------------------------------------------------------------------ */
/* uutiset
/* ------------------------------------------------------------------ */

#uutiset {
    background-color: var(--gray);
}

#uutiset .wp-news > .row {
    padding: 3rem;
    background-color: var(--white);
    margin-bottom: 3rem;
    border-radius: 5px;
}

#uutiset .wp-news > .row:last-of-type {
    margin-bottom: 0;
}

#uutiset h2 {
    color: var(--green);
}
#uutiset h3 {
    color: var(--etiketti-bg);
}

#uutiset hr {
    width: 20%;
    border-width: 2px;
    margin: 4rem auto;
}
#uutiset .wp-excerpt{
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--gray);
}

#uutiset .info {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

#uutiset .info .date {
    font-family: "opensans-regular", sans-serif;
    font-size: 1.5rem;
    color: var(--etiketti-bg);

}

#uutiset .info a,
#uutiset .info a:visited {
    font-family: "librebaskerville-bold", serif;
    color: var(--green);
    font-size: 1.4rem;
    margin-left: 2rem;
    text-decoration: none;
}
#uutiset .info a:hover,
#uutiset .info a:active {
    color: var(--gold);
}

#uutiset .wp-img img{
    clip-path: circle(80px at 50% 50%);
    margin: auto;
    width: 175px;
    height: 175px;
    object-fit: cover;
    padding: 0 !important;
    object-position: center;
    max-width: 175px;
}

#uutiset .wp-img {
    padding: 0;
    display: flex;
    justify-content: center;
}


/* ------------------------------------------------------------------ */
/* Ohjelma
/* ------------------------------------------------------------------ */

#ohjelma {
    background: var(--ohjelma-bg);
}

#ohjelma h2 {
    color: var(--white);
}

#ohjelma h3 {
    color: var(--gold);
}

/* ------------------------------------------------------------------ */
/* Sillis
/* ------------------------------------------------------------------ */

#sillis {
    background: var(--sillis-bg);
    padding: 0;
}

#sillis h2 {
    text-align: center;
    margin-bottom: 48px;
    color: var(--sillis-header);
    font-family: carneval, serif;
    font-size: 4rem;
    letter-spacing: 3px;
}

#sillis p {
    color: var(--background);
}

.sillis-linkki {
    animation: tilt-n-move-shaking 0.35s infinite;
    color: var(--background);
    padding: 1rem;
    font-size: 2rem;
    display: inline-block;
}
.sillis-linkki:hover, .sillis-linkki:active {
    color: var(--green);
}

#sillis .first{
    font-size: 1.5rem;
}
#sillis .second{
    font-size: 1.7rem;
    font-weight: bold;
}
#sillis .third{
    font-size: 1.9rem;
    font-weight: bolder;
}

#sillis .draw-attention{
    scale: 1.5;
    color: var(--sillis-header);
    text-align: center;
    width: 80%;
    margin: 4rem auto;
    white-space: pre-line;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
    opacity: 1;
}

/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
    opacity: 0;
}

/* ------------------------------------------------------------------ */
/* Etiketti
/* ------------------------------------------------------------------ */

#etiketti {
    background: var(--etiketti-bg);
}

#etiketti h2 {
    color: var(--white);
}

#etiketti h3 {
    font-family: "librebaskerville-italic", serif;
    color: var(--gold);
}


/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides li {
    margin: 0;
    padding: 0;
}

/* Necessary Styles */
.flexslider {
    position: relative;
    zoom: 1;
    margin: 0;
    padding: 0;
}

.flexslider .slides {
    zoom: 1;
}

.flexslider .slides > li {
    position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
    zoom: 1;
    position: relative;
}

/* Clearfix for .slides */
.slides:before,
.slides:after {
    content: " ";
    display: table;
}

.slides:after {
    clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* Slider Styles */
.slides {
    zoom: 1;
}

.slides > li {
    /*margin-right: 5px; */
    overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}

.flex-control-paging li a:hover {
    background: #ccc;
    background: rgba(255, 255, 255, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* Ilmo
/* ------------------------------------------------------------------ */

#ilmo {
    background: var(--etiketti-bg);
}

#ilmo .section-head {
    margin-bottom: 42px;
    text-align: center;
}

#ilmo h2 {
    color: var(--gray);
}

#ilmo h4 {
    color: var(--gray);
}

/* ilmo form */
#ilmo form {
    margin-bottom: 30px;
}

#ilmo label {
    font: 15px/24px "opensans-bold", sans-serif;
    margin: 12px 0;
    color: var(--gold);
    display: inline-block;
    width: 100%;
}

#ilmo .ilmoformi input,
#ilmo .ilmoformi textarea,
#ilmo .ilmoformi select {
    padding: 10px 20px;
    color: var(--gray-darker);
    background: #373233;
    border: 0;
    outline: none;
    font-size: 15px;
    line-height: 24px;
    width: 100%;
}

#ilmo .radiot input {
    width: auto;
}

#ilmo .radiothing {
    margin-left: 25px;
    font: 15px/24px "opensans-bold", sans-serif;
    color: var(--gray-darker);
}

#ilmo .valError, #ilmo  .apiErrors{
    font: 1.5rem/3rem 'opensans-regular', sans-serif;
    color: var(--sillis-header);
    font-weight: bold;
}

#ilmo .ilmoformi input:focus,
#ilmo .ilmoformi textarea:focus,
#ilmo .ilmoformi select:focus {
    color: var(--gray-darker);
}

#ilmo .ilmoformi button.submit {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--gold);
    background: var(--etiketti-bg);
    border: 2px solid var(--gold);
    cursor: pointer;
    height: auto;
    display: inline-block;
    border-radius: 0px;
    width: 100%;
}

#ilmo .ilmoformi button.submit:hover {
    color: var(--etiketti-bg);
    background: var(--gold);
    border-color: var(--gold);
}

#ilmo span.required {
    color: var(--green);
    font-size: 13px;
}

#ilmo .check input {
    width: auto;
    margin-right: 0.7rem;
}

#ilmo .radiot label {
    margin: 0;
}

.radiot, .checkboxes {
     display: block;
     position: relative;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
/* Hide the browser's default radio button */
.radiot input[type=radio], .check input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 20px !important;
    width: 20px !important;
    padding: 0 !important;
    top: 2px;
    left: 0;
    margin: 0 !important;
}

/* Create a custom radio button */
.radiot .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: var(--etiketti-bg);
    border: 2px solid var(--gold);
}

.radiot .checkmark:hover {
    background-color: #373233;
}

/* When the radio button is checked, add a blue background */
.radiot input[type=radio]:checked ~ .checkmark {
    /*background-color: var(--gold);*/
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiot .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiot input[type=radio]:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiot .checkmark:after {
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--gold);
}
.checkboxes .checkboxthing{
    margin-left: 25px;
    font: 15px/24px "opensans-bold", sans-serif;
    color: var(--gold);
}

/* Create a custom checkbox */
.checkboxes .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--etiketti-bg);
    border: 2px solid var(--gold);
}

/* On mouse-over, add a grey background color */
.checkboxes .checkmark:hover {
    background-color: #373233;
}

/* When the checkbox is checked, add a blue background */
.checkboxes input:checked ~ .checkmark {
    /*background-color: var(--gold);*/
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxes .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxes input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxes .checkmark:after {
    left: 3px;
    top: 0px;
    width: 9px;
    height: 14px;
    border: solid var(--gold);
    border-width: 0px 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ------------------------------------------------------------------ */
/* Footer
/* ------------------------------------------------------------------ */

footer {
    padding-top: 48px;
    margin-bottom: 48px;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
}

footer a,
footer a:visited {
    color: #525252;
}

footer a:hover,
footer a:focus {
    color: #fff;
}

/* copyright */
footer .copyright {
    color: var(--gray);
    margin: 0;
    padding: 0;
}

footer .copyright li {
    display: block;
    margin: 0 auto;
    padding: 0;
    line-height: 24px;
    text-align: center;
}

footer .copyright li img {
    height: 2.5rem;
    width: auto;
    margin-top: 5px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}


.ie footer .copyright li {
    display: inline;
}

footer .copyright:hover li img, footer .copyright:focus, li img footer .copyright:active li img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Go To Top Button */
#go-top {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -30px;
}

#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #525252;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: #fff;
    font-size: 21px;
    line-height: 60px;
    border-radius: 100%;
}

#go-top a:hover {
    background-color: var(--green);
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--green);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#menu {
    margin: 40px 0;
    text-align: center;
}

#menu h3 {
    text-decoration: underline;
}

#menu h4 {
    font-size: 1.4rem;
}

#menu p {
    font-size: 1.3rem;
}

#menu .fa-asterisk{
    display: none;
}

@media only screen and (max-width: 767px){
    #menu .fa-asterisk{
        display: flex;
        justify-content: center;
        transform: rotate(90deg);
        margin: 20px;
        color: var(--gold);
    }
}


/* ------------------------------------------------------------------ */
/* Tarjoukset
/* ------------------------------------------------------------------ */

#tarjoukset {
    background: var(--tarjoukset-bg);
}

#tarjoukset h2 {
    color: var(--white);
}

#tarjoukset h3 {
    color: var(--gold);
}

#tarjoukset .fa-asterisk{
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
    margin: 20px;
    color: var(--white);
}


#tarjoukset .tarjoukset-images {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: end;
    justify-content: space-between;
    max-width: 200px;
}

#tarjoukset .tarjoukset-teksti-osio {
    color: var(--gray);
}

#tarjoukset .tarjoukset-teksti-osio a {
    color: var(--gold);
    text-decoration: none;
}

#tarjoukset .tarjoukset-teksti-osio a:hover {
    text-decoration: underline;
}


#tarjoukset .tarjoukset-images  img {
    width: 100%;
    object-fit: contain;
    padding: 1rem 0;
    filter: brightness(0) invert(1);
    object-position: left;
    transition: all 0.3s ease-in-out;
}

#tarjoukset .tarjoukset-images  img:hover {
    scale: 1.1;
}