/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

/* Variables */
:root {
    --gold: #cba851;
    --white: #ffffff;
    --gray: #f0f0f0;
    --gray-darker: #e1e1e1;
    --background: #0f0f0f;
    --green: #2c8f43;
    --ohjelma-bg: #010101;
    --etiketti-bg: #212121;
    --sillis-bg: #ffca00;
    --sillis-header: #ff0f2e;
}

/* ------------------------------------------------------------------ */
/* General Styles
/* ------------------------------------------------------------------ */

body {
    background: var(--background);
}

/* ------------------------------------------------------------------ */
/* Header Styles
/* ------------------------------------------------------------------ */

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;

    text-align: center;
    overflow: hidden;
}

/* vertically center banner section */
header:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}

header .banner-text {
    width: 100%;
}

header .banner-text h1 {
    color: var(--gray);
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
}

header .banner-text h2 {
    color: var(--gray);
    margin: 0 auto;
    width: 75%;
    text-transform: none;
    font-family: "librebaskerville-regular", serif;
}

header .banner-text h2 span,
header .banner-text h2 a {
    transition: all .3s ease-in-out;
    color: var(--gray-darker);
}

header .banner-text h2 span:hover,
header .banner-text h2 a:hover {
    color: var(--gold);
}

header .banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2f2d2e;
    border-color: rgba(150, 150, 150, 0.1);
}

/* header social links */
header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
}

header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

header .social li a {
    color: #fff;
}

header .social li a:hover {
    color: #0762f9;
}

/* scrolldown link */
header .scrolldown a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header .scrolldown a:hover {
    color: var(--green);
}

#etiketti p, #ohjelma p, #tietoa p, #uutiset p, #sillis p {
    text-align: justify;
}


/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
#nav-wrap {
    font: 12px "opensans-bold", sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}

.opaque {
    background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
    display: none;
}

ul#nav {
    min-height: 48px;
    width: auto;

    /* center align the menu */
    text-align: center;
}

ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

/* Links */
ul#nav li a {
    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;

    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
    background-color: transparent !important;
}

ul#nav li.current a {
    color: var(--gold);
}

/* ------------------------------------------------------------------ */
/* Tietoa
/* ------------------------------------------------------------------ */

#tietoa {
    background: url(../images/valot_taustalla.png);
    height: max-content;
    background-size: cover;
    padding: 40px 0;
}

#tietoa a, #tietoa a:visited {
    color: var(--gray-darker);
}
#tietoa a:hover, #tietoa a:active {
    color: var(--gold);
}


#tietoa h2 {
    color: var(--gray);
    margin-bottom: 12px;
}

#tietoa p {
    line-height: 30px;
    color: var(--gray);
}

#tietoa .table-cell {
    display: table-cell;
    float: none;
}
#tietoa .asteriskilogo-container {
    position: relative;
}

#tietoa .asteriskilogo {
    width: 100%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 5rem 0 0;
}

/* ------------------------------------------------------------------ */
/* uutiset
/* ------------------------------------------------------------------ */

#uutiset {
    background-color: var(--white);
    height: max-content;
    padding: 6rem 0;
}

#uutiset a,
#uutiset a:visited {
    font: 16px/24px "librebaskerville", serif;
    color: var(--green);
}
#uutiset a:hover,
#uutiset a:active {
    color: var(--gold);
}

#uutiset h4 {
    font-family: "opensans-bold", sans-serif;
}

.uutinen {
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--gray-darker);
}

#uutiset .info {
    color: var(--ohjelma-bg);
    margin-bottom: 1rem;
}

#uutiset .info span {
    margin-right: 5px;
    margin-left: 5px;
}

#uutiset .date {
    font: 15px/24px "opensans-regular", sans-serif;
    margin-top: 6px;
}

/* ------------------------------------------------------------------ */
/* Ohjelma
/* ------------------------------------------------------------------ */

#ohjelma {
    background: var(--ohjelma-bg);
    height: max-content;
    padding: 6rem 0;
    overflow: hidden;
}

#ohjelma h2 {
    color: var(--white);
}

#ohjelma h3 {
    color: var(--gold);
}

/* ------------------------------------------------------------------ */
/* Sillis
/* ------------------------------------------------------------------ */

#sillis {
    background: var(--sillis-bg);
    height: max-content;
    padding: 0;
    overflow: hidden;
}

#sillis h2 {
    text-align: center;
    margin-bottom: 48px;
    color: var(--sillis-header);
    font-family: carneval, serif;
    font-size: 4rem;
    letter-spacing: 3px;
}

#sillis p {
    color: var(--background);
}

.sillis-linkki {
    animation: tilt-n-move-shaking 0.25s infinite;
    color: var(--background);
    padding: 1rem;
    font-size: 2rem;
    display: inline-block;
}
.sillis-linkki:hover, .sillis-linkki:active {
    color: var(--green);
}

#sillis .first{
    font-size: 1.5rem;
}
#sillis .second{
    font-size: 1.7rem;
    font-weight: bold;
}
#sillis .third{
    font-size: 1.9rem;
    font-weight: bolder;
}

#sillis .draw-attention{
    scale: 1.5;
    color: var(--sillis-header);
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
    opacity: 1;
}

/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
    opacity: 0;
}

/* ------------------------------------------------------------------ */
/* Etiketti
/* ------------------------------------------------------------------ */

#etiketti {
    height: max-content;
    padding: 6rem 0;
    overflow: hidden;
    background: var(--etiketti-bg);
}

#etiketti h2 {
    color: var(--white);
}

#etiketti h3 {
    font-family: "librebaskerville", serif;
    color: var(--gold);
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides li {
    margin: 0;
    padding: 0;
}

/* Necessary Styles */
.flexslider {
    position: relative;
    zoom: 1;
    margin: 0;
    padding: 0;
}

.flexslider .slides {
    zoom: 1;
}

.flexslider .slides > li {
    position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
    zoom: 1;
    position: relative;
}

/* Clearfix for .slides */
.slides:before,
.slides:after {
    content: " ";
    display: table;
}

.slides:after {
    clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* Slider Styles */
.slides {
    zoom: 1;
}

.slides > li {
    /*margin-right: 5px; */
    overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}

.flex-control-paging li a:hover {
    background: #ccc;
    background: rgba(255, 255, 255, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* Ilmo
/* ------------------------------------------------------------------ */

#ilmo {
    height: max-content;
    padding: 6rem 0;
    overflow: hidden;
    background: var(--etiketti-bg);
}

#ilmo .section-head {
    margin-bottom: 42px;
    text-align: center;
}

#ilmo h2 {
    color: var(--gray);
}

#ilmo h4 {
    color: var(--gray);
}

/* ilmo form */
#ilmo form {
    margin-bottom: 30px;
}

#ilmo label {
    font: 15px/24px "opensans-bold", sans-serif;
    margin: 12px 0;
    color: #ebeeee;
    display: inline-block;
    float: left;
    width: 26%;
}

#ilmo input,
#ilmo textarea,
#ilmo select {
    padding: 10px 20px;
    color: #eee;
    background: #373233;
    margin-bottom: 42px;
    border: 0;
    outline: none;
    font-size: 15px;
    line-height: 24px;
    width: 65%;
}

#ilmo input:focus,
#ilmo textarea:focus,
#ilmo select:focus {
    color: #fff;
    background-color: #0762f9;
}

#ilmo button.submit {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background: #0d0d0d;
    border: none;
    cursor: pointer;
    height: auto;
    display: inline-block;
    border-radius: 0px;
    margin-left: 26%;
}

#ilmo button.submit:hover {
    color: #0d0d0d;
    background: #fff;
}

#ilmo span.required {
    color: #0762f9;
    font-size: 13px;
}

#message-warning,
#message-success {
    display: none;
    background: #0f0f0f;
    padding: 24px 24px;
    margin-bottom: 36px;
    width: 65%;
    margin-left: 26%;
}

#message-warning {
    color: #d72828;
}

#message-success {
    color: #0762f9;
}

#message-warning i,
#message-success i {
    margin-right: 10px;
}

#image-loader {
    display: none;
    position: relative;
    left: 18px;
    top: 17px;
}

/* Twitter Feed */
#twitter {
    margin-top: 12px;
    padding: 0;
}

#twitter li {
    margin: 6px 0px 12px 0;
    line-height: 30px;
}

#twitter li span {
    display: block;
}

#twitter li b a {
    font: 13px/36px "opensans-regular", Sans-serif;
    color: #474747 !important;
    border: none;
}

/* ------------------------------------------------------------------ */
/* Footer
/* ------------------------------------------------------------------ */

footer {
    padding-top: 48px;
    margin-bottom: 48px;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
}

footer a,
footer a:visited {
    color: #525252;
}

footer a:hover,
footer a:focus {
    color: #fff;
}

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
}

footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.ie footer .copyright li {
    display: inline;
}

footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}

footer .copyright li:first-child:before {
    display: none;
}

footer .sponsors {
    color: var(--gray-darker);
}

footer .sponsors h2 {
    color: var(--gray-darker);
}

/* Go To Top Button */
#go-top {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -30px;
}

#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #525252;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: #fff;
    font-size: 21px;
    line-height: 60px;
    border-radius: 100%;
}

#go-top a:hover {
    background-color: var(--green);
}
